{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block after_field_sets %}

<div class="module aligned">
  <h2>Containers</h2>
        <div class="description">
          Note, clicking any of the links below will open a new window/tab!
        </div>
        
        <p></p>
        
        {% if original %} 
          <ul class="object-tools">
            <li><a href="../../rack/add/?current_location={{original.id}}" target="_blank">
                Add Container</a></li> 
          </ul>          
        {% endif %}
        
        {% if original and original.related_racks %}
          <table cellspacing="0">
            <thead>
              <tr>
                <th>ID</th><th>Name</th><th>Type</th>
              </tr>
            </thead>
            <tbody>
        
            {% for container in original.related_racks %}
        
              <tr class="{% cycle 'row1' 'row2' %}">
        
                <td><b><a href="../../{{container.get_relative_url}}" target="_blank">
                      {{container.displayId}}</a></b></td>
                <td><b><a href="../../{{container.get_relative_url}}" target="_blank">
                      {{container.name}}</a></b></td>
                <td>{{container.containerType}}</td> 
              </tr>
        
            {% endfor %}
        
            </tbody>
          </table>
          
        {% else %}
          <div class="description"><b>No Rack found for this item.</b></div>
        {% endif %}
        <p></p>
</div>
{% endblock %}