{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>{{ dnaComponent }} <a href="/admin/labrack/dnacomponent/{{ dnaComponent.id }}/"><img src="http://icons.iconarchive.com/icons/custom-icon-design/office/16/edit-icon.png"/></a></h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="dnacomponent_form"><input type='hidden' name='csrfmiddlewaretoken' value='EknmgaCUBMqzsw9pwmQU3V4QhERiqKaO' />
<div>
  <fieldset class="module aligned ">
        <div class="form-row field-displayId field-name field-status">
                <div class="field-box field-displayId">
                        <label>ID:</label>
                            <p>{{ dnaComponent }}</p>
                </div>
            
                <div class="field-box field-name">
                        <label class="inline">Name:</label>
                            <p>{{ dnaComponent }}</p>
                </div>
            
                <div class="field-box field-status">
                        <label class="inline">Status:</label>
                            <p>{{ dnaComponent }}</p>
                </div>
        </div>
    
        <div class="form-row field-componentType field-componentSubType">
            
                <div class="field-box field-componentType">
                        <label>Categorie:</label>
                            <p>{% for o in dnaComponent.componentType.all %}
                                {{ o }}
                               {% endfor %}</p>
                </div>
            
                <div class="field-box field-componentSubType">
                        <label class="inline">Type:</label>
                            <p>{% for o in dnaComponent.componentSubType.all %}
                                {{ o }}
                               {% endfor %}</p>
                </div>
            
        </div>
    
        <div class="form-row field-circular">
                <div>
                        <label>Circular:</label>
                            <p>{% if dnaComponent.circular == True %} <img src="/static/admin/img/icon-yes.gif" alt="True" /> {% endif %}
</p>
                        <p class="help">is the DNA Circular or not.</p>
                </div>
        </div>
        
        <div class="form-row field-baseVector field-marker field-insert">
                <div class="field-box field-baseVector">
                        <label>BaseVector:</label>
                            <p>{% if dnaComponent.baseVector != None %} {{ dnaComponent.baseVector }}  {% endif %}</p>
                </div>
                <div class="field-box field-marker">
                        <label class="inline">Marker:</label>
                            <p>{% if dnaComponent.marker != None %} {{ dnaComponent.marker }}  {% endif %}</p>
                </div>
                <div class="field-box field-insert">
                        <label class="inline">Insert:</label>
                            <p>{% if dnaComponent.insert != None %} {{ dnaComponent.insert }}  {% endif %}</p>
                </div>
            
        </div>
    
        <div class="form-row field-created_by field-owners">
            
            
                <div class="field-box field-created_by">
                    
                    
                        <label>Created by:</label>
                        
                            <p>{{ dnaComponent.created_by }}</p>
                        
                    
                    
                </div>
            
                <div class="field-box field-owners">
                        <label class="inline">Owners:</label>
                            <p>{% for o in dnaComponent.owners.all %}
                                {{ o }}
                               {% endfor %}</p>
                </div>
        </div>
    
        <div class="form-row field-registration_date field-source">
            
            
                <div class="field-box field-registration_date">
                        <label>Registred:</label>
                            <p>{{ dnaComponent.registration_date }}</p>
                </div>
            
                <div class="field-box field-source">
                        <label class="inline">Source:</label>
                            <p>{% for o in dnaComponent.source.all %}
                                {{ o }}
                               {% endfor %}</p>
                        <p class="help">external source</p>
                    
                </div>
            
        </div>
    
</fieldset>


  <fieldset class="module aligned ">
    <h2>Details</h2>
        <div class="form-row field-description">
                <div>
                        <label>Detailed description:</label>
                            <p>{{ dnaComponent.description }}</p>
                </div>
            
        </div>
    
        <div class="form-row field-sequence field-attachements">
                <div class="field-box field-sequence">
                        <label>Sequence:</label>
                            <p><p>{{ dnaComponent.sequence }}</p></p>
                        <p class="help">nucleotide sequence</p>
                    
                </div>
            
                <div class="field-box field-attachements">
                        <label class="inline">Attachements:</label>
                            <p>{% for o in dnaComponent.attachements.all %}
                                {{ o }}
                               {% endfor %}</p>
                        <p class="help"> Hold down "Control", or "Command" on a Mac, to select more than one.</p>
                    
                </div>
            
        </div>
    
</fieldset>


{% endblock %}

