# Python compiled files
*.py[cod]


# eclipse
.project
.pydevproject
.settings

# database
tyers_site/tyers_site.db

# custom south installation
# tyers_site/south

# wingide
*.wpr
*.wpu

# emacs
*.*~
*.*#
