{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block after_field_sets %}
<link rel="stylesheet" type="text/css" href="/media/js/fileuploader/fileuploader.css">
<script type="text/javascript" src="/media/js/fileuploader/fileuploader.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/media/scribl/Scribl.1.1.3.min.js" ></script>
<script type="text/javascript" src="/media/scribl/examples/js/dragscrollable.js"></script>


<script language=javascript type='text/javascript'>

			 
       var txtContent;
	   var jsonObjectPartTypes;
	   var jsonObjectOptimizedFor;

      window.onload = function()
      {
         uploadTheFile();
         checkContent = document.getElementById("id_is_vector_backbone");
         checkContent.onchange = checkHandler;
         
          
         textContent = document.getElementById("id_sequence_text");  
         textContent.oninput=sequenceHandler;
		 
		 savebutton = document.getElementsByName("_save");
 		 savebutton[0].onclick = retrieveAndFeedDataHandler;
		 savebutton[1].onclick = retrieveAndFeedDataHandler;
		 
		 //hide attrb1
		 document.getElementById("id_Plasmid_attribute1").hidden="true";
		 document.getElementById("id_Plasmid_attribute2").hidden="true";
		 
		 HideShowElement('backbone_db','visible');
		 HideShowElement('backbone_genbank','hidden');
		 
		 // reason for calling is to populate parttype and optimized for
		 send_request();
		 
 
    };

   function retrieveAndFeedDataHandler(e)
   {
		textContent = document.getElementById("id_Plasmid_attribute1");
		textContent2 = document.getElementById("id_Plasmid_attribute2");

		
		is_db_data = document.getElementById("radiodb").checked;
		db_data_displayid = document.getElementById("input").value;
		is_gb_data = document.getElementById("radiogb").checked;
		gb_data_displayid = document.getElementById("id_backbone_gen_name").value;
		gb_data_description = document.getElementById("id_backbone_gen_description").value;


		var json_ele = {"data": [
				 {"db_data": ""+is_db_data+"", "name": ""+db_data_displayid+"", "description": ""},
				 {"gb_data": ""+is_gb_data+"", "name": ""+gb_data_displayid+"", "description": ""+gb_data_description+""}
				 ]
		};
		
		textContent.value = JSON.stringify(json_ele);
		textContent2.value = 'testing';
		
		alert('list all the check box ine the document');

		selectallchecked('gb_checkbox');
		selectallchecked('db_checkbox');
   }
   
   
   
   function checkHandler(e)
   {
		if (document.getElementById("id_is_vector_backbone").checked) {
					hidediv();
					HideShowElement('backbone_db','hidden');
					HideShowElement('backbone_genbank','hidden');
				 }
				 else {
					showdiv();
					if (document.getElementById("radiodb").checked){
						HideShowElement('backbone_db','visible');
						HideShowElement('backbone_genbank','hidden');
					} else {
						HideShowElement('backbone_db','hidden');
						HideShowElement('backbone_genbank','visible');
					};

					 
		}
   }
   
   function sequenceHandler(e)
   {
		send_request();
		alert('the vector and insert list has been updated!');        
         
   }
			 
function HideShowElement(elementName,status) {
	if (document.getElementById) { // DOM3 = IE5, NS6
	document.getElementById(elementName).style.visibility = status;
	}
}


function hidediv() {
	if (document.getElementById) { // DOM3 = IE5, NS6
	document.getElementById('hideShow').style.visibility = 'hidden';
	}
	else {
		if (document.layers) { // Netscape 4
			document.hideShow.visibility = 'hidden';
		}
		else { // IE 4
			document.all.hideShow.style.visibility = 'hidden';
		}
	}
}

function showdiv() {
	if (document.getElementById) { // DOM3 = IE5, NS6
		document.getElementById('hideShow').style.visibility = 'visible';
	}
	else {
			if (document.layers) { // Netscape 4
			document.hideShow.visibility = 'visible';
			}
			else { // IE 4
			document.all.hideShow.style.visibility = 'visible';
			}
	}
}
</script> 
<script type="text/javascript">
//global  variables
var arrayOfJSON_AnnotationsFile = null;

function selected_dnaBackbone(){
    var datalist = document.getElementById("datalist");
    var input = document.getElementById("input");
    
    update_dnaBackbone(input.value);
}

// get the information regarding the DNA Backbone vector from the server
function update_dnaBackbone(selectedItem){
    $.get("/get_dna_info/"+selectedItem+"/", function(data){
       var values = data.list_dnas;
        var jsonObject = eval(values);
        $("#vectorName").html(jsonObject[0].name);
        $("#vectorDescription").html(jsonObject[0].description);
        //$("#idExtra").html(data.extra_values);
    });
}
 
// send the request to the server with the sequence to retrieve all the annotation or vectors in the database
function send_request(){
t = this.document.getElementById("id_sequence_text").value;
$.get("/test/"+t+"/", function(data){
// set parttypes objects
jsonObjectPartTypes = eval(data.parttypes_values);
jsonObjectOptimizedFor = eval(data.optimizedfor_values);
 
var jsonObject = eval(data.list_dnas);
var arrayOfObjects = jsonObject;
    //alert(data.list_dnas); 
    var dataList = $("#datalist");
     $("#input").html("");
    dataList.empty();
    if(arrayOfObjects.length) {
    for(var i=0, len=arrayOfObjects.length; i<len; i++) {
    var opt = $("<option></option>").attr({
            "id"   : arrayOfObjects[i].id,
            "value": arrayOfObjects[i].displayid,
            "label": arrayOfObjects[i].displayid
            });
            dataList.append(opt);
		 	}
            }
            
    emptyRowsTable(0);
    var jsonInsertObject = eval(data.extra_values);
    var arrayOfInsertObjects = jsonInsertObject;
             if(arrayOfInsertObjects.length) {
            for(var i=0, len=arrayOfInsertObjects.length; i<len; i++) {
				addRowToAnnotationTable(0,'',arrayOfInsertObjects[i].id,arrayOfInsertObjects[i].displayid,arrayOfInsertObjects[i].description,arrayOfInsertObjects[i].componentType_name,arrayOfInsertObjects[i].coverage,arrayOfInsertObjects[i].optimizedFor_name);
               }
            }
            
            $("#idListDNA").html(data.list_dnas);
            $("#idExtra").html(data.extra_values);
        
        });
    }
	
// emtpy table genbank and database annotation 
function emptyRowsTable(tableNumber){
	var Parent = document.getElementsByTagName("TBODY").item(tableNumber);
    while(Parent.hasChildNodes()  & Parent.getElementsByTagName('tr').length>2)
    {
		Parent.removeChild(Parent.lastChild);
    }
}

 

function selectallchecked(fieldName){
 //var fieldName='gb_checkbox';
   var i=document.getElementsByName(fieldName).length;
  var e=document.getElementsByName(fieldName);
  var name=new Array();
  var value=new Array();
  
  var j=0;
   for(var k=0;k<i;k++)
  {
     if(e[k].checked==true){
		alert(e[k].id);
		}    
  }
  
}

function getTypeDropdownlistType(){
//alert('populating getTypeDropdownlistType');
		 var textnode = document.createElement('select');
          textnode.setAttribute('name','parttype_select');
 		if (typeof jsonObjectPartTypes !== "undefined") {
			if(jsonObjectPartTypes.length) {
				for(var i=0, len=jsonObjectPartTypes.length; i<len; i++) {
					textnode.options[i] = new Option(jsonObjectPartTypes[i].name, 'value',jsonObjectPartTypes[i].name);               
				   }
				}
		}				
		return textnode 
}

function getTypeDropdownlistOptimizedFor(){
//alert('populating getTypeDropdownlistOptimizedFor');
		  var textnode = document.createElement('select');
          textnode.setAttribute('name','optimizedfor_select');
  		if (typeof jsonObjectOptimizedFor !== "undefined") {
			if(jsonObjectOptimizedFor.length) {
				for(var i=0, len=jsonObjectOptimizedFor.length; i<len; i++) {
					textnode.options[i] = new Option(jsonObjectOptimizedFor[i].name, 'value',jsonObjectOptimizedFor[i].name);               
				   }
				}  
		}
		return textnode 
}

function addRowToAnnotationTable(tableNumber,content1,content2,content3,content4,content5,content6,content7)
{
		var prefix = 'db_';
		var readonlyattr = true;
		 if (tableNumber==0){
			prefix = 'db_';
			readonlyattr = true;
		 }else{
			prefix = 'gb_';
			readonlyattr = false;
		 }
         if (!document.getElementsByTagName) return;
         tabBody=document.getElementsByTagName("TBODY").item(tableNumber);
         row=document.createElement("TR");
         cell1 = document.createElement("TD");
         cell2 = document.createElement("TD");
         cell3 = document.createElement("TD");
         cell4 = document.createElement("TD");
         cell5 = document.createElement("TD");
         cell6 = document.createElement("TD");
		 cell7 = document.createElement("TD");
		 
         checkboxnode1= document.createElement('input');
		 checkboxnode1.type = 'checkbox';
		 checkboxnode1.id = content2;
		 checkboxnode1.name = prefix+'checkbox';
		 
		 textnode2= document.createElement('input');
		 textnode2.type = 'text';	
		 textnode2.value = content2;
		 textnode2.readOnly = readonlyattr;
 		 
         //textnode2=document.createTextNode(content2);
         //textnode3=document.createTextNode(content3);
		 textnode3= document.createElement('input');
		 textnode3.type = 'text';	
		 textnode3.value = content3;
		 textnode3.readOnly = readonlyattr;
		 
         //textnode4=document.createTextNode(content4);
		 textnode4= document.createElement('input');
		 textnode4.type = 'text';	
		 textnode4.value = content4;
		 textnode4.readOnly = readonlyattr;
		 
         //textnode5=document.createTextNode(content5);
		 if (tableNumber==0){
		 textnode5=document.createTextNode(content5);}
		 else{
		 textnode5 = getTypeDropdownlistType();}
		   
		 
		 
         textnode6=document.createTextNode(content6);
		 
		 
		  
		 if (tableNumber==0){
		 textnode7=document.createTextNode(content7);}
		 else{
		 textnode7=getTypeDropdownlistOptimizedFor();}
         
         cell1.appendChild(checkboxnode1);
         cell2.appendChild(textnode2);
         cell3.appendChild(textnode3);
         cell4.appendChild(textnode4);
         cell5.appendChild(textnode5);
         cell6.appendChild(textnode6);
		 cell7.appendChild(textnode7);

         row.appendChild(cell1);
         row.appendChild(cell2);
         row.appendChild(cell3);
         row.appendChild(cell4);
         row.appendChild(cell5);
         row.appendChild(cell6);
		 row.appendChild(cell7);

         tabBody.appendChild(row);


}
 
function buildChartGeneBank(){
	var canvas = document.getElementById('canvas');
	canvas.width = canvas.width;
	chart1 = new Scribl(canvas, 800);
	return chart1
}

// method used to draw the different annotation on the genbank file 
// providing json object of annotation and the chart where to draw 

function drawGenBank(jsontext,chart){
    var jsonInsertObject = eval(jsontext);
    var arrayOfInsertObjects = jsonInsertObject;

            if(arrayOfInsertObjects.length) {
                for(var i=0, len=arrayOfInsertObjects.length; i<len; i++) {
                 
                   
					var start = parseInt(arrayOfInsertObjects[i].startPos,10);
					var end = parseInt(arrayOfInsertObjects[i].endPos,10);
					var strand = parseInt(arrayOfInsertObjects[i].strandValue,10);
					var strandStr = '';
					if (strand==-1) {strandStr='-';} else {strandStr='+';}
					//alert(strandStr);
					var gene = chart1.addGene( start,    end , strandStr);
					gene.name = arrayOfInsertObjects[i].id;
					
                }
            }
	//chart.scrollable = true;
	//chart.scrollValues = [200000, 250000];
	chart.draw();
}
function setJSON_genbankFile(jsontext) {
	var jsonInsertObject = eval(jsontext);
	arrayOfJSON_AnnotationsFile = jsonInsertObject;
}

function updateJSON_accordingto_genbankFileSelection() {
 	var index = document.getElementById('datalist_gen').selectedIndex;
		document.getElementById('id_backbone_gen_name').value = arrayOfJSON_AnnotationsFile[index].displayid;
		document.getElementById('id_backbone_gen_description').value = arrayOfJSON_AnnotationsFile[index].description;


}

 

function buildGenBankTable(jsontext){
    var jsonInsertObject = eval(jsontext);
	setJSON_genbankFile(jsonInsertObject);
    var arrayOfInsertObjects = jsonInsertObject;
    var sequence = '';
	document.getElementById("id_sequence_text").value = '';
 	emptyRowsTable(1);
            if(arrayOfInsertObjects.length) {
                for(var i=0, len=arrayOfInsertObjects.length; i<len; i++) {
                if (sequence=='') { 
                //call sequence change with the full sequence as a value
                    sequence = arrayOfInsertObjects[i].sequence;
                    document.getElementById("id_sequence_text").value = sequence;
                    send_request();
                    }
                    //alert(arrayOfInsertObjects[i].sequence); 
                    addRowToAnnotationTable(1,'',arrayOfInsertObjects[i].id,arrayOfInsertObjects[i].displayid,arrayOfInsertObjects[i].description,arrayOfInsertObjects[i].componentType_name,arrayOfInsertObjects[i].coverage,'');
 					
					var dataList_gen = document.getElementById("datalist_gen");
					var optn = document.createElement("OPTION");
					optn.text = arrayOfInsertObjects[i].displayid;
					optn.value = arrayOfInsertObjects[i].displayid;
					dataList_gen.options.add(optn);					

							
							 
                }
            }
}

function uploadTheFile(){
    var uploader = new qq.FileUploader( {
        action: "{% url ajax_upload %}",
        element: $('#file-uploader')[0],
        multiple: false,
        onComplete: function( id, fileName, responseJSON ) {
        //alert(responseJSON.test);
        buildGenBankTable(responseJSON.test);
		
		drawGenBank(responseJSON.test,buildChartGeneBank());
        
		if( responseJSON.success ){
            //alert( "success!" ) ;
            }
		else
            alert( "upload failed!" ) ;
        },
        onAllComplete: function( uploads ) {
          // uploads is an array of maps
          // the maps look like this: { file: FileObject, response: JSONServerResponse }
          //alert( "All complete!" ) ;
        },
        params: {
          'csrf_token': '{{ csrf_token }}',
          'csrf_name': 'csrfmiddlewaretoken',
          'csrf_xname': 'X-CSRFToken',
        },
      } ) ;
      
  }
</script>



</head>
<body>
<div id="file-uploader">      
    <noscript> 
		<p>Please enable JavaScript to use file uploader.</p>
    </noscript>        
</div>
<div id="hideShow">
<fieldset class="module aligned ">
    <h2></h2>


<canvas id="canvas" width="800" height="200"
style="border:1px solid #000000;">
</canvas> 
     
<h2>Specify vector backbone</h2>
 

<div class="form-row">
            
				<div class="myradio">
				    <label><input id="radiodb" type="radio" name="group1" value="database" onchange="HideShowElement('backbone_db','visible');HideShowElement('backbone_genbank','hidden');" checked> Vector from Database</label>
					<label><input id="radiogb" type="radio" name="group1" value="file" onchange="HideShowElement('backbone_db','hidden');HideShowElement('backbone_genbank','visible');"> Vector from Genbank file</label><BR><BR><BR>
					<p class="help">choose the vector from the database or from the genbank file.</p><BR>
				</div>
<div class="form-row">
					<div id="backbone_db"> 
						<div class="field-box">
								<label for="id_backbone_id">ID:</label>
									<input id = "input" list = "datalist" type = "text" onChange="selected_dnaBackbone();" style="width:30;"/>
										<datalist id = "datalist">
											<option value = ""></option>
												</datalist>
						</div>
					
						<div class="field-box">
								<label for="id_backbone_name" class="inline">Name:</label>
									<input type="text" name="id_backbone_name" readonly id="id_backbone_name" />
						</div>
						
						<div class="field-box">
								<label for="id_backbone_selectionmarkers" class="inline">Selection markers(s):</label>
									<input type="text" name="id_backbone_selectionmarkers" readonly id="id_backbone_selectionmarkers" />
						</div>
						
						<div class="field-box">
								<label for="id_backbone_description" class="inline">Description:</label>
									<input type="text" name="id_backbone_description" readonly id="id_backbone_description" />
						</div>
					</div> 
				</div>				
				<div class="form-row">
					<div id="backbone_genbank"> 
						<div class="field-box">
								<label for="id_backbone_gen_id">ID:</label>
								<SELECT id = "datalist_gen" NAME="datalist_gen" onChange="updateJSON_accordingto_genbankFileSelection();">
								</SELECT>
						</div>
					
						<div class="field-box">
								<label for="id_backbone_gen_name" class="inline">Name:</label>
									<input type="text" name="id_backbone_gen_name" id="id_backbone_gen_name" />
						</div>
						
						<div class="field-box">
								<label for="id_backbone_gen_selectionmarkers" class="inline">Selection markers(s):</label>
									<input type="text" name="id_backbone_gen_selectionmarkers" id="id_backbone_gen_selectionmarkers" />
						</div>
						
						<div class="field-box">
								<label for="id_backbone_gen_description" class="inline">Description:</label>
									<input type="text" name="id_backbone_gen_description" id="id_backbone_gen_description"/>
						</div>
					</div>
				</div>
 				
			 
</div>

<h2>Specify insert annotations</h2>

<table border="1">
<CAPTION><EM>From database</EM></CAPTION>
	<TBODY>
		<tr>
		<th></th>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
		<th>Coverage</th>
		<th>Optimized for</th>
		</tr>
	</TBODY>

<BR><BR>
<table border="1">
<CAPTION><EM>From genbank file</EM></CAPTION>
	<TBODY>
		<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>Coverage</th>
				<th>Optimized for</th>
		</tr>
	</TBODY>
</table>

</fieldset>
 
</div> 

{% endblock %}