{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<script type="text/javascript"
 src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/labrack/">Labrack</a>
&rsaquo; Import CSV
</div>
    <div class="module">
		
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url plasmidlist %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
		
		<div class="breadcrumbs">
			<P align="right"><a href="/media/documents/DemoDnaSampleFull.csv">(view Demo file)</a></p>
		</div>
 </div>
 <div>
		<h1>Test AJAX en GET</h1>
		<p>Appeler la 1ère page en AJAX : <a href="/test-get/?message=coucou" id="ajax1">Test Get</a></p>
		<p id="reponse-get"></p>
		<hr/>
		<br/>
	</div>
	<div>
		<h1>Test AJAX en POST</h1>
		<p>Appeler la 2ème page en AJAX :
		<form id="ajax2" action="/test-post/" method="post">{% csrf_token %}
			Nom : <input type="text" name="nom" value=""/><br/>
			Prénom : <input type="text" name="prenom" value=""/><br/>
			<input type="submit" value="Envoyer"/>
		</form>
		<p id="reponse-post"></p>
	</div>
{% endblock %}