{% extends "admin/change_form.html" %}

{% load i18n admin_modify  %}


{% block after_field_sets %}


{% load staticfiles %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>



<script language=javascript type='text/javascript'>

    var txtContent;
    var currSelectedVectorSeq = '';
    var currSelectedAnnot = '';
    var jsonObjectPartTypes;
    var jsonObjectOptimizedFor;

    window.onload = function()
    {
                
        listContent = document.getElementById("id_componentType");

        listContentChild = document.getElementById("id_componentSubType");
         if (listContentChild.selectedIndex==-1){
            listContent.selectedIndex = DefaultIndexType();
            i = listContent.selectedIndex;
            selectedValue = listContent.options[i].text;
            updateList(selectedValue,'id_componentSubType');
        } else {
        
            selectedSubType = listContentChild.selectedIndex;
            childValue = listContentChild[selectedSubType].value;
  
            setParentType(childValue,'id_componentType');
            
            listContent = document.getElementById("id_componentType");
            i = listContent.selectedIndex;
            selectedValue = listContent.options[i].text;
            updateList(selectedValue,'id_componentSubType');
            
            
            var selectobject=document.getElementById('id_componentSubType')
                        for (var i=0; i<selectobject.length; i++){
                            selectobject.options[i].selected = false;                            
                        }
                        for (var i=0; i<selectobject.length; i++){
                            if (selectobject.options[i].value==childValue){
                            selectobject.options[i].selected = true;                            
                        }
                }
        }
        listContent.onchange = listTypeOnChange;
        clearNoneSelected('id_attachements');
    };
    
    function clearNoneSelected(listboxID){
        var mylistbox = document.getElementById(listboxID);
        if (mylistbox!=null){
            for(var i=mylistbox.options.length-1;i>=0;i--){
                if(!mylistbox.options[i].selected) {
                    mylistbox.remove(i);
                }
            }
        }
    }
    
    function DefaultIndexType(){
        var selectobject=document.getElementById("id_componentType")
            for (var i=0; i<selectobject.length; i++){
                if (selectobject.options[i].text=='eukaryotic') {
                    return i;
                }
    }
    return 0;
    }
   
    
    function listTypeOnChange(e){

    listContent = document.getElementById("id_componentType");
    i = listContent.selectedIndex;
    selectedValue = listContent.options[i].text;
    updateList(selectedValue,'id_componentSubType');
    }
 
    function setParentType(selectedSubTypeID,elementID){
        clearListBox('id_componentSubType');   
    
            $.ajax({
                async: false,
                type: 'GET',
                url: "/getParentTypeCellInfo/"+selectedSubTypeID+"/",
                success: function(data){
                    p = jQuery.parseJSON(data);
                    var mylistbox = document.getElementById(elementID);
                    for (var key in p) {
                                if (p.hasOwnProperty(key)) {
                                //mylistbox.options[key] = new Option(p[key].fields.name, p[key].pk);
                                var selectobject=document.getElementById(elementID)
                                    for (var i=0; i<selectobject.length; i++){
                                        if (selectobject.options[i].value==p[key].pk){
                                        selectobject.options[i].selected = true;
                                        }
                                }
                            }
                        }                            
                }
            }                
        );	
    
    }
    
    function updateList(selectedType,elementID){
        
        clearListBox('id_componentSubType');        

        $.ajax({
                        async: false,
                        type: 'GET',
                        url: "/getTypeCellInfo/"+selectedType+"/",
                        success: function(data){
                        //alert(data);
                            p = jQuery.parseJSON(data);
                            var mylistbox = document.getElementById(elementID);
                            for (var key in p) {
                                        if (p.hasOwnProperty(key)) {
                                        //alert(''+p[key].fields.name+ p[key].pk);
                                        mylistbox.options[key] = new Option(p[key].fields.name, p[key].pk);
                                    }
                                }                            
                        }
                    }                
                    );	
        var mylistbox = document.getElementById(elementID);
        mylistbox.options[0].selected = true;
        };
    
    
    function HideShowElement(elementName,status) {
        if (document.getElementById) { // DOM3 = IE5, NS6
        document.getElementById(elementName).style.visibility = status;
        }
    }    
    
    function clearListBox(listboxID)
    {
        // returns 1 if all items are sucessfully removed
        // otherwise returns zero.
        var mylistbox = document.getElementById(listboxID);
        if(mylistbox == null)
         return 1;
        while(mylistbox.length > 0)
        {
         mylistbox.remove(0);
        }
        return 1;
    }
</script>
{% endblock %}