{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block after_field_sets %}

<div class="module aligned">
    <h2>Links</h2>
    
        <div class="description">
          Linkouts for this sample. Note, clicking any of the links below will open a new window/tab!
        </div>

        <p></p>
      
        {% if original%}
          <table cellspacing="0">
            <thead>
              <tr>
                <th>Created</th><th>Container</th><th>DNA</th><th>in vector</th>
                <th>in cell</th><th>protein</th>
              </tr>
            </thead>
            <tbody>
        
              <tr class="{% cycle 'row1' 'row2' %}">
        
                <td>{{sample.created}}</td>

                <td><b><a href="../../{{original.container.get_relative_url}}" target="_blank">
                      {{original.container}}</a></b></td>
        
                <td>{% if original.dna %}
                    <b><a href="../../{{original.dna.get_relative_url}}" target="_blank">
                        {{original.dna}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %}
        
                <td>{% if original.vector %}
                      <b><a href="../../{{original.vector.get_relative_url}}" target="_blank">
                      {{original.vector}}</a></b></td>
                    {% else %}
                          --</td>
                    {% endif %}
        
                <td>{% if original.cell %}
                      <b><a href="../../{{original.cell.get_relative_url}}" target="_blank">
                          {{original.cell}}</a></b></td>
                    {% else %}
                          --</td>
                    {% endif %}

                <td>{% if original.protein %}
                      <b><a href="../../{{original.protein.get_relative_url}}" target="_blank">
                          {{original.protein}}</a><b></td>
                    {% else %}
                          --</td>
                    {% endif %}
              </tr>
        
            </tbody>
          </table>
          
        {% else %}
          <div class="description"><b>Details not yet specified.</b></div>
        {% endif %}
        <p></p>
   

    <h2>Other Samples</h2>
        <div class="description">
          Note, clicking any of the links below will open a new window/tab!
        </div>

        <p></p>
      
        {% if original and original.related_samples %}
          <table cellspacing="0">
            <thead>
              <tr>
                <th>ID</th><th>dna</th><th>in vector</th><th>in cell</th><th>concentration</th>
                <th>created</th><th>comments</th>
              </tr>
            </thead>
            <tbody>
        
            {% for sample in original.related_samples %}
        
              <tr class="{% cycle 'row1' 'row2' %}">
        
                <td><b><a href="../../{{sample.get_relative_url}}" target="_blank">
                      {{sample.show_Id}}</a></b></td>
        
                <td>{% if sample.dna %}
                    <b><a href="../../{{sample.dna.get_relative_url}}" target="_blank">
                        {{sample.dna}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %}
        
                <td>{% if sample.vector %}
                      <a href="../../{{sample.vector.get_relative_url}}" target="_blank">
                      {{sample.vector}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %}
        
                <td>{% if sample.cell %}
                      <a href="../../{{sample.cell.get_relative_url}}" target="_blank">
                          {{sample.cell}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %}
        
                <td>{{sample.show_concentration}}</td>
                <td>{{sample.created}}</td>
                <td>{{sample.comments|default:""}}</td>
        
              </tr>
        
            {% endfor %}
        
            </tbody>
          </table>
          
        {% else %}
          <div class="description"><b>No related samples found for this item.</b></div>
        {% endif %}

      
</div>

{% endblock %}