{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block after_field_sets %}

<div class="module aligned">
  <h2>Samples</h2>
        <div class="description">
          Note, clicking any of the links below will open a new window/tab!
        </div>
        
        <p></p>
        
        {% if original %} 
          <ul class="object-tools">
            <li><a href="../../chassissample/add/?chassis={{original.id}}" target="_blank">
                Add Cell Sample</a></li> 
          </ul>          
        {% endif %}
        
        {% if original and original.relatedChassisSamples %}
          <table cellspacing="0">
            <thead>
              <tr>
                <th>ID</th><th>Type</th><th>dna</th><th>in vector</th><th>in cell</th>
                <th>concentration</th>
                <th>created</th><th>by</th><th>comments</th>
              </tr>
            </thead>
            <tbody>
        
            {% for sample in original.relatedChassisSamples %}
        
              <tr class="{% cycle 'row1' 'row2' %}">
        
                <td><b><a href="../../{{sample.get_relative_url}}" target="_blank">
                      {{sample.showId}}</a></b></td>
        
                <td>Cell</td>
        
                <td> 
                </td>
        
                <td>{% if sample.vector %}
                      <a href="../../{{sample.vector.get_relative_url}}" target="_blank">
                      {{sample.vector}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %}
        
                <td>{{original.name}}</td>
                     
        
                <td>{{sample.showConcentration}}</td>
                <td>{{sample.creation_date|date:"d M Y"}}</td>
                <td>{{sample.created_by}}</td>
                <td>{{sample.showComment|default:""}}</td>
        
              </tr>
        
            {% endfor %}
            
            {% for sample in original.relatedDnaSamples %}
        
              <tr class="{% cycle 'row1' 'row2' %}">
        
                <td><b><a href="../../{{sample.get_relative_url}}" target="_blank">
                      {{sample.showId}}</a></b></td>
        
                <td>DNA Cell</td>
        
                <td>{% if sample.dnaConstruct %}
                      <a href="../../{{sample.dnaConstruct.get_relative_url}}" target="_blank">
                      {{sample.dnaConstruct}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %}               
                
                <td>{% if sample.dnaConstruct %}
                      <a href="../../{{sample.dnaConstruct.getVector.get_dna_relative_url}}" target="_blank">
                      {{sample.dnaConstruct.getVector.name}}</a></td>
                    {% else %}
                          --</td>
                    {% endif %} 
                 
        
               
        
                <td>{{original.name}}</td>
                     
        
                <td>{{sample.showConcentration}}</td>
                <td>{{sample.creation_date|date:"d M Y"}}</td>
                <td>{{sample.created_by}}</td>
                <td>{{sample.showComment|default:""}}</td>
        
              </tr>
        
            {% endfor %}
            </tbody>
          </table>
          
        {% else %}
          <div class="description"><b>No Samples found for this item.</b></div>
        {% endif %}
        <p></p>
</div>


{% endblock %}