{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block after_field_sets %}

<div class="module aligned">
  <h2>Samples</h2>
      <div class="description">
        Note, clicking any of the links below will open a new window/tab!
      </div>

      <p></p>
 
      {% if original %} 
        <ul class="object-tools">
          <li><a href="../../sample/add/?dna={{original.displayId}}" target="_blank">
              Add Sample</a></li> 
        </ul>
      {% endif %}
      
      {% if original and original.related_samples %}
        <table cellspacing="0">
          <thead>
            <tr>
              <th>ID</th><th>Type</th><th>dna</th><th>in vector</th><th>in cell</th><th>concentration</th>
              <th>created</th><th>comments</th>
            </tr>
          </thead>
          <tbody>
  
          {% for sample in original.related_samples %}

            <tr class="{% cycle 'row1' 'row2' %}">
    
              <td><b><a href="../../{{sample.get_relative_url}}" target="_blank">
                    {{sample.show_Id}}</a></b></td>

              <td>{{sample.show_sampleType}}</td>

              <td>{{sample.dna|default:"--"}}</td>

              <td>{% if sample.vector %}
                    <a href="../../{{sample.vector.get_relative_url}}" target="_blank">
                    {{sample.vector}}</a></td>
                  {% else %}
                        --</td>
                  {% endif %}

              <td>{% if sample.cell %}
                    <a href="../../{{sample.cell.get_relative_url}}" target="_blank">
                        {{sample.cell}}</a></td>
                  {% else %}
                        --</td>
                  {% endif %}

              <td>{{sample.show_concentration}}</td>
              <td>{{sample.created}}</td>
              <td>{{sample.comments|default:""}}</td>

            </tr>

          {% endfor %}

          </tbody>
        </table>
        
      {% else %}
        <div class="description"><b>No Samples found for this item.</b></div>
      {% endif %}

      
</div>

{% endblock %}